<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rumstemperaturer</title>
    <link rel="stylesheet" type="text/css" href="{{ 
        url_for('static',filename='css/main.css') }}">
</head>
<body>
<a href="{{ url_for('graph') }}">Graph</a>
</br>
    <table class="sortable">
        <tr>
            <th>Room</th>
            <th>Date & Time</th>
            <th>Temp Reading</th>
        </tr>
        {% for reading in readings %}
        <tr>
            <td>
                {{ reading['sensor'] }}
            </td>
            <td>
                {{ reading['datetime'] }}
            </td>
            <td>
                {{ reading['temp'] }}
            </td>
        </tr>
        {% endfor %}
    </table>

    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

</body>
</html>

